.App {
  padding: 30px 40px;
  color: #262626;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #6da34d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4a6f34;
}